body {
  background-color: #0f0;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  background-color: #ffffff;
  height: auto;
}

header {
  margin: 0;
  padding: 0;
}

header .header-l {
  /*  float:left; */
  margin: 0;
  padding: 0;
}

header .header-r {
  /*   float:right;
  min-height:183px; */
  margin: 0;
  padding: 0;
}

header h1, header h3 {
  margin: 0;
  padding: 0 0 0 10px;
}

.header .header-adv {
  /*  width:100%; */
}

header img {
  width: 100%;
  /*
  min-width:365px;
  height:auto;
  min-height:183px;
  margin:auto; */
}

.container.content {
  padding:0;
}
.creeper{
  background-color: #0dbe84;
  min-height: 75px;
  height: auto;
  margin:0;
}

p.scroll-01 {
  margin: 0;
  padding: 0;
}


.content.features {
}
.row .main-l{
  width: 100%;
  background: rgb(250, 202, 0) ;
}
.row .main-r{
  width: 100%;
  background: rgb(249, 17, 143);
}
.main-r p{
  margin:0;padding:.5rem;
}
.main-l p{
  margin:0;padding:.5rem;

}
.row .about{
  background:rgb(11, 212, 147);
}
.row .social{
  background:rgb(181, 116, 251);
}
footer{
  padding-top:1em;
  min-height: 5rem;
  background: rgb(33, 29, 32);
}
footer .container{
  background: rgb(33, 29, 32);
}
footer .links{
  margin:1em auto;
}
