body{
  background-color: #0f0;
  margin:0;
  padding:0;
}

.container  {
  width:90%;
  background-color: #ffffff;
  height:auto;
}

header {
  margin:0;
  padding:0;
}

header .header-l{
/*  float:left; */
  margin:0;
  padding:0;

}

header .header-r{
/*   float:right;
  min-height:183px; */

  margin:0;
  padding:0;
}

header .site-titles {
}
header h1, header h3 {
  margin:0;
  padding: 0 0 0 10px;
}

.header .header-adv {
/*  width:100%; */
}

header img{
  width:100%; /*
  min-width:365px;
  height:auto;
  min-height:183px;
  margin:auto; */
}

.container.content {
  background-color: rgb(13, 190, 132);
  min-height:75px;
  height:auto;
}


p.scroll-01 {
  width: 100%;
  margin: 0 ;
  padding: 0;
}
